matplotlib==3.1.1
scipy==1.4.1
torchvision==0.5.0
catalyst==20.2.4
tqdm==4.59.0
numpy==1.20.1
setuptools==52.0.0.post20210125
h5py==2.10.0
pandas==0.25.0
requests==2.25.1
Pillow==9.1.0
PVT==0.3
cityscapesscripts==2.2.0
click==8.1.2
coinstac==0.3.1
coinstac_dinunet==2.5.0
einops==0.4.1
python_hostlist==1.21
mmcv==1.5.0
mmseg==1.3.0
monai==0.8.1
nibabel==3.2.2
timm==0.5.4
torchio==0.18.76
typing==3.10.0.0
PyYAML==6.0
