coinstac-dinunet>=1.2.2
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.5.1+cu92
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.6.1+cu92
nibabel~=3.1.0
torchio==0.18.29