-f https://download.pytorch.org/whl/torch_stable.html
 torch==1.9.1+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.10.1+cpu
nibabel~=3.1.0
torchio==0.18.29
coinstac>=0.2.0
coinstac-dinunet>=2.0.4